<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">FUNCIONALIDADES<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTATO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg ">
  <div class="d-flex flex-grow-1">
    <a class="navbar-brand d-none d-lg-inline-block" href="#">
      <img src="./../assets/img/logo.png" alt="logo">
    </a>
  </div>
  <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
    <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item">
        <a href="#" class="nav-link m-2 menu-item nav-active"><span>FUNCIONALIDADES</span></a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link m-2 menu-item"><span>CONTATO</span></a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link facebook m-2 menu-item"><img src="./../assets/img/facebookLogo.png"
            alt="facebook"></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid char">
  <div class="row">
    <div class="col">
      <img src="./../assets/img/char.png" alt="personagem">
    </div>
    <div class="col align-items-center texts">
      <span class="text1">Reconhecimento de imagem com</span>
      <span class="text2">Inteligência Artificial</span>
    </div>
  </div>
</div>

<div class="container-fluid wave">
  <div class="row info">
    <img class="imgwave" src="./../assets/img/background1.png" alt="wave">
    <div class="col col-info">
      <div class="title-info">Neovision</div>
      <div class="informations">Lorem Ipsum é simplesmente uma simulação de texto da indústria
        tipográfica e de impressos, e vem sendo utilizado desde o século XVI,
        quando um impressor desconhecido pegou uma bandeja de tipos e os
        embaralhou para fazer um livro de modelos de tipos.<br><br>
        Lorem Ipsum é simplesmente uma simulação de texto da indústria
        tipográfica e de impressos, e vem sendo utilizado desde o século XVI,
        quando um impressor desconhecido pegou uma bandeja de tipos e os
        embaralhou para fazer um livro de modelos de tipos.
      </div>
      <div class="func">
        <div class="func1">Funcionalidade 1</div>
        <div class="func2">Funcionalidade 2</div>
        <div class="func3">Funcionalidade 3</div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid contact">
  <div class="row">
    <div class="col">
      <div class="container-contact">
        <span>Quer saber mais sobre a Neovision?</span>
        <div class="center-block">
          <input type="text" name="name" id="name" placeholder="Nome">
          <input type="email" name="email" id="email" placeholder="E-mail">
          <button class="send">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid footer">
  <div class="row">
    <div class="col-12">
      <p>©2019 - Neovision. Todos os direitos reservados</p>
    </div>
  </div>
</div>
